@import url("https://fonts.googleapis.com/css?family=Coiny");
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');


* {
    margin: 0;
    padding: 0;
  }
 

  /*Slide Show*/
  .Slideshow {
    position: relative;
  }
  .Slideshow_Slides {
    display: none;
  }
  .Slide_Images {
    height: 800px;;
  }
  .prev_Slide, .next_Slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
.next_Slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Caption text */
.Slide_Caption {
  color: #f2f2f2;
  font-size: 15px;
  width: 100%;
  position: absolute;
  bottom: 8px;
  text-align: center;
}
/* Fading animation */
.fade_Slides {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  
  /*Message_Section*/
  .Main_Body {
    padding: 0;
    margin: 0;
    top: 15%;
    left:0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    
  }
  .Messages_Section {
    text-align: center;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    scale: 0.5;
    transition: all 1s;
    display: flex;
    justify-content: space-between;
  }
  .Messages_Section.visible {
    scale: 1;
  }
  .Message_Head {
    color:black;
    margin-top: 20px;
    background-color: transparent;
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
  }
  #About_Acad_Affairs_Section {
    scale: 1;
  }
  #Acad_Head {
    margin-bottom: 10px;
  }
  #BOAA_Head {
    margin-bottom: 10px;
  }
  #About_Acad_Affairs {
    width: 90%;
  }
  #BOAA_Message {
    width: 90%;
  }
  #Convo_Section {
    width: 90%;
  }
  .Message_Text_Section {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Message_Text {
    color: rgb(61, 61, 61);
    font-size: 20px;
    text-align: justify;
    width: 100%;
  }
  .bullets {
    color: black;
    background-color:transparent;
    margin-left: 5%;
    text-align: justify;
  }
  #bullets_text {
    width: 90%;
  }
  .Message_Images {
    margin-top: 200px;
    display: inline-block;
    width: 38%;
    margin-right: 40px;
  }
  #Msg_Img_1 {
    width: 230px;
    height: 130px;
    margin:5px;
  }
  #Msg_Img_2 {
    width: 230px;
    height: 130px;
    margin: 5px;
  }
  #Msg_Img_3 {
    width: 230px;
    height: 130px;;
    margin: 5px;
  }
  #Msg_Img_4 {
    width: 230px;
    height: 130px;
    margin: 5px;
  }
  #Img_Col_1 {
    display: flex;
    justify-content: space-around;
  } 
  #Img_Col_2 {
    display: flex;
    justify-content: space-around;
  }
  #Footer_div {
    width: 100%;
  } 

@media only screen and (max-width:1000px) {
  
  .bullets {
    width: 100%;
  }
  .Messages_Section {
    display: block;
    text-align: center;
  }
  .Message_Text_Section {
    width: 90%;
  }
  .Message_Images {
    margin-top: 10px;
    width: 470px;;
    margin-right: 0px;
  }
  .Slide_Images {
    height: 500px;
  }
}
@media only screen and (max-width:700px) {
  .Message_Head {
    font-size: 20px;
  }
  .bullets_text {
    margin-left: 50px;
  }
  #Logo {
    margin-left: 10px;
  }
  #IIT-text {
    top: 50%;
    left: 90px;
    font-size: 12px;;
  }
  #BOAA-text {
    top: 25%;
    left:90px;
    font-size: 12px;
  }
  .Message_Head {
    margin-bottom: 10px;
  }
  .menu {
    right: 10px;
  }
  .Slide_Images {
    height: 300px;;
  }
  #Msg_Img_1 {
    width: 50%;
    height: auto;
    margin:5px;
  }
  .Message_Images {
    width: 80%;
    margin-top: 10px;
  }
  #Msg_Img_2 {
    width: 50%;
    height: auto;
    margin: 5px;
  }
  #Msg_Img_3 {
    width: 50%;
    height: auto;
    margin: 5px;
  }
  #Msg_Img_4 {
    width: 50%;
    height: auto;
    margin: 5px;
  } 
}
